@import "~bootstrap/scss/bootstrap.scss";

$navHeight: 56px;

/* VH Conversion Function */

@function calcVh($target) {
  $vh-context: (1000 * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

.wrap {
  height: 100vh - calcVh($navHeight);
  width: 100vw;
}

header,
footer {
  position: fixed;
  left: 0;
  right: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}
